body {
    /*background-size:100% auto;
    background-image:url(../Resources/Wallpaper_food.jpg);*/
    padding-top: 50px;
    padding-bottom: 20px;
    
}

 /*Set padding to keep content from hitting the edges*/ 

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 
/*input,
select,
textarea {
    max-width: 280px;
}

img{
    background-color:black;
}*/


/*#slider { border: none !important; }
.carousel-indicators .active{ background: #31708f; } 
.content{ margin-top:auto; } 
.adjust1{ float:left; width:100%; margin-bottom:auto; } 
.adjust2{ margin:auto; } 
.carousel-indicators li{ border :1px solid #ccc; } 
.carousel-control{ color:#31708f; width:5%; } 
.carousel-control:hover, 
.carousel-control:focus{ color:#31708f; } 
.carousel-control.left, .carousel-control.right { background-image: none; } 
.media-object{ margin:auto; margin-top:15%; } 
@media screen and (max-width: 768px) { .media-object{ margin-top:auto; } }
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{ margin: auto; }
.es-carousel-wrapper.fusion-carousel-small .es-carousel ul li img {

border: 0 !important;
 
}*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: beige;
  font-style:oblique;
  color:black;
}

td,dt{
    font-family:Georgia,serif;
    font-style:italic;
    color:aliceblue;
}

th{
    border-bottom-style:double;
   font-style:oblique;
}

dd{
    font-family:Georgia,serif;
    font-style:italic;
    color:gray;
}
label{
    font-family:Georgia,serif;
    font-style:italic;
    color:aliceblue;
}

input[type=button], input[type=submit], input[type=reset] {
	-moz-box-shadow:inset 0px 1px 2px 3px #ffffff;
	-webkit-box-shadow:inset 0px 1px 2px 3px #ffffff;
	box-shadow:inset 0px 1px 2px 3px #ffffff;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	padding:6px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

button.active {
	position:relative;
	top:1px;
    background-color:black;
    font-family:'Times New Roman';
}

h1{
    color:bisque;
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}